.wrap-about {
  max-width: 90vw;
  margin: 0 auto;
  background: transparent;
  padding: 10px;
}

@media (min-width: 1023px) {
  .wrap-about {
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 0px 30px #e4a6a6;
  }
}

.wrap-about .heading-about {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.wrap-about .telephone {
  text-align: center;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

.wrap-about .desc-about {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 1px;
  padding: 5px;
}
