@import url("https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

@media (min-width: 1023px) {
  .wrap-category {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    padding: 10px;
    margin: 0 auto;
    background: rgba(245, 245, 245, 0.909804);
    box-shadow: 0px 0px 30px #e4a6a6;
  }
}

.wrap-category h2.cat-name {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.wrap-category article {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.380392);
  padding: 5px;
  border-radius: 2px;
}

@media (min-width: 1023px) {
  .wrap-category article {
    flex-basis: 33.33%;
  }
}

.wrap-category article img {
  border-radius: 25px;
  border: 2px solid #dadada;
  padding: 2px;
}

.wrap-category article img:hover {
  transform: scale(1.05);
  border-top: 2px solid #17a2b8;
  border-right: 2px solid #17a2b8;
}

.wrap-category article p {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 1px;
  padding: 5px 15px;
}
