@import url('https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@import './mixins';

div#menu-sign {
    @include menu;

    @include ipadPro {
        display: none;
    }
}

div#menu-desktop {
    display: none;

    @include ipadPro {
        display: block;
        @include menu;
    }

}

header {
    width: 260px;
    margin: 0px auto;
    padding: 50px 0 10px 0;
    font-family: 'Kulim Park', sans-serif;
    animation: headerAppear 1s .6s cubic-bezier(0, 0.72, 0.52, 0.8) both;

    @include ipadPro {
        background: rgba(255, 255, 255, 0.82);
        border-radius: 2px;
        padding-top: 5px;

    }

    h1 {
        display: inline-block;
        height: 100px;
        line-height: 100px;
        vertical-align: top;
        margin-left: -30px;
    }

    .logo-header {
        width: 100px;
    }
}

.wrap-main {
    animation: mainpage .5s ease-out;
    animation-iteration-count: 1;


    main {
        font-family: 'Kulim Park', sans-serif;
        overflow: hidden;

        @include ipadPro {
            background: rgba(255, 255, 255, 0.82);
            width: 90vw;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 0px 30px rgb(228, 166, 166);
            animation: mainAppear .5s .1s linear both;
        }

        .headings {
            @include ipadPro {
                background: transparent;
                width: 80vw;
                margin: 0 auto;
            }
        }

        .title-main {
            font-family: 'Pacifico', cursive;

            @include mainheading;

            @include ipadPro {
                padding-top: 20px;
            }
        }

        .title-main-low {
            text-transform: none;
            font-size: 20px;

            @include ipadPro {
                padding-top: 5px;
            }
        }

        .main-desc {
            max-width: 90vw;
            margin: 1px auto;
            padding: 15px 8px 8px;
            text-align: center;
            letter-spacing: 1px;
            font-size: 1.2rem;

            @include ipadPro {
                width: 80vw;
                margin: 15px auto;
                font-size: 1.5rem;
            }

        }
    }


}

.main-img-wrap {
    text-align: center;

    img {
        border: 1px solid rgb(78, 78, 78);
        padding: 5px;
        max-width: 90%;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .lili-img-desc {
        text-align: center;
        color: gray;
        font-size: .8rem;

        @include ipadPro {
            color: rgb(72, 67, 67);
            font-size: 1rem;
        }
    }
}

.visit {
    text-align: center;

    .partners-heading {
        @include mainheading;
        padding: 10px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
}


.partners {
    margin: 5px auto;
    background: rgba(255, 193, 7, 0.43);
    font-family: 'Kulim Park', sans-serif;
    height: 200px;
    padding: 10px;
    border-radius: 2px;

    @include ipadPro {
        background: transparent;
    }

    h2 {
        @include mainheading;
    }

    .hand-shake {
        text-align: center;
        font-size: 20px;
        margin-bottom: 0px;
    }


}

@keyframes mainpage {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes headerAppear {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes mainAppear {
    from {
        width: 0vw;
    }

    to {
        width: 90vw;
    }

}