@import url('https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@import './mixins';

.wrap-main {
    animation: mainpage .5s ease-out;
    animation-iteration-count: 1;

    header {
        width: 260px;
        margin: 0px auto;
        padding: 50px 0 10px 0;
        font-family: 'Kulim Park', sans-serif;
        animation: headerAppear 1s .6s cubic-bezier(0, 0.72, 0.52, 0.8) both;

        @include ipadPro {
            background: rgba(255, 255, 255, 0.82);
            border-radius: 2px;
            padding-top: 5px;

        }

        .menu-mo-btn {
            position: fixed;
            top: 5px;
            right: 5px;
            font-size: 30px;
        }

        h1 {
            display: inline-block;
            height: 100px;
            line-height: 100px;
            vertical-align: top;
            margin-left: -30px;
        }

        .logo-header {
            width: 100px;
        }
    }

    main {
        font-family: 'Kulim Park', sans-serif;
        overflow: hidden;

        @include ipadPro {
            background: rgba(255, 255, 255, 0.82);
            width: 90vw;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 0px 30px rgb(228, 166, 166);
            animation: mainAppear .5s .1s linear both;
        }

        .headings {
            @include ipadPro {
                background: transparent;
                width: 80vw;
                margin: 0 auto;
            }
        }

        .title-main {
            font-family: 'Pacifico', cursive;

            @include mainheading;

            @include ipadPro {
                padding-top: 20px;
            }
        }

        .title-main-low {
            text-transform: none;
            font-size: 20px;

            @include ipadPro {
                padding-top: 5px;
            }
        }

        .main-desc {
            margin: 1px;
            padding: 15px 8px 8px;
            text-align: center;
            letter-spacing: 1px;
            font-size: 1.2rem;
            border: 1px solid black;
            border-radius: 10px;
            background-color: rgba(235, 235, 152, 0.6196078431372549);

            @include ipadPro {
                width: 80vw;
                margin: 15px auto;
                font-size: 1rem;
            }

        }
    }


}

.partners {
    margin: 5px auto;
    background: rgba(255, 193, 7, 0.43);
    font-family: 'Kulim Park', sans-serif;
    height: 200px;
    padding: 10px;
    border-radius: 2px;

    @include ipadPro {
        background: transparent;
    }

    h2 {
        @include mainheading;
    }

    .hand-shake {
        text-align: center;
        font-size: 20px;
        margin-bottom: 0px;
    }
}

@keyframes mainpage {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes headerAppear {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes mainAppear {
    from {
        width: 0vw;
    }

    to {
        width: 90vw;
    }
}