$ipadPro: 1023px;
$iphoneXl: 830px;
$ipad: 768px;
$iphone6l: 670px;
$iphoneX: 600px;
$common: 570px;


@mixin iphoneX {
    @media (min-width: #{$iphoneX}) {
        @content
    }
}

;

@mixin iphoneXl {
    @media (min-width: #{$iphoneXl}) {
        @content
    }
}

;

@mixin ipad {
    @media (min-width: #{$ipad}) {
        @content
    }
}

;

@mixin ipadPro {
    @media (min-width: #{$ipadPro}) {
        @content
    }
}

;

@mixin iphone6l {
    @media (min-width: #{$iphone6l}) {
        @content
    }
}

;

@mixin common {
    @media (min-width: #{$common}) {
        @content
    }
}

;

@mixin commonPort {
    @media (min-width: #{$common}) and (orientation: portrait) {
        @content
    }
}

;

@mixin mainheading {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}