$ipadPro: 1023px;
$iphoneXl: 830px;
$ipad: 768px;
$iphone6l: 670px;
$iphoneX: 600px;
$common: 530px;


@mixin iphoneX {
    @media (min-width: #{$iphoneX}) {
        @content
    }
}

;

@mixin iphoneXl {
    @media (min-width: #{$iphoneXl}) {
        @content
    }
}

;

@mixin ipad {
    @media (min-width: #{$ipad}) {
        @content
    }
}

;

@mixin ipadPro {
    @media (min-width: #{$ipadPro}) {
        @content
    }
}

;

@mixin iphone6l {
    @media (min-width: #{$iphone6l}) {
        @content
    }
}

;

@mixin common {
    @media (min-width: #{$common}) {
        @content
    }
}

;

@mixin commonPort {
    @media (min-width: #{$common}) and (orientation: portrait) {
        @content
    }
}

;

@mixin mainheading {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

@mixin catName {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

@mixin catDescription {
    font-size: 18px;
    font-family: 'Kulim Park', sans-serif;
    letter-spacing: 1px;
}

@mixin menu {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10;

    @include ipadPro {
        position: unset;
        max-width: 90vw;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.82);
    }

    #menu-mobile-btn {
        @include ipadPro {
            display: none;
        }
    }


    .fa-sort-down {
        transform: rotateZ(-90deg);
        line-height: 25px;
    }

    .fa-sort-down.active {
        transform: rotateZ(90deg);
    }

    div.menu-header-menu-container {
        padding: 8px;
        background: rgba(245, 245, 245, 0.89);
        font-weight: bolder;
        border-radius: 6px;
        text-transform: uppercase;
        position: absolute;
        top: 45px;
        left: -300px;
        border: 2px solid gray;
        min-width: 225px;
        transition: 1s;

        @include ipadPro {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            background: transparent;
            border: none;
        }

        ul {
            list-style: none;
            margin-bottom: 0px;

            @include ipadPro {
                display: flex;
                justify-content: center;
            }

            li {
                &:nth-child(5) {
                    background-color: #007bff;
                    animation: petsitterBtn 3.5s .5s linear infinite both;
                    border-radius: 5px;

                    a {
                        color: white;

                        &:hover {
                            color: #f9d055;
                        }
                    }
                }

                @include ipadPro {
                    margin-right: 10px;
                }

            }

            a {
                display: inline-block;
                padding: 5px;
                border-radius: 2px;
                transition: .3s;

                &:hover {
                    text-decoration: none;
                    background: rgb(0, 123, 255);
                    color: white;
                }
            }
        }
    }
}

@mixin centerCont {
    max-width: 90vw;
    margin: 0 auto;
    background: transparent;
    padding: 10px;

    @include ipadPro {
        background-color: rgba(255, 255, 255, 0.82);
        @include shadow;
    }
}

@mixin shadow {
    box-shadow: 0px 0px 30px rgb(228, 166, 166);
}

@keyframes petsitterBtn {
    0% {
        background-color: #3e95f2
    }

    50% {
        background-color: #054d9a;
    }

    100% {
        background-color: #3e95f2;
    }
}