@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

#faceWid {
  margin: 5px auto;
  width: 310px;
  background-color: white;
  border-radius: 2px;
}

@media (min-width: 1023px) {
  #faceWid {
    position: fixed;
    top: 50%;
    right: -315px;
    transform: translateY(-50%);
    transition: 1s;
  }
}

#faceWid #faceTrigger {
  overflow: hidden;
}

#faceWid #faceTrigger,
#faceWid #faceTriggerCancel {
  display: none;
}

@media (min-width: 1023px) {
  #faceWid #faceTrigger,
  #faceWid #faceTriggerCancel {
    display: block;
    position: absolute;
    top: -50px;
    left: -65px;
    background: white;
    border-radius: 50%;
    border: 1px solid gray;
  }
}

#faceWid #faceTrigger img,
#faceWid #faceTriggerCancel img {
  width: 50px;
  height: 50px;
}

#faceWid #faceTriggerCancel {
  display: none;
}

#faceWid h4 {
  padding: 5px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
