.search-page {
  padding: 10px;
  margin-bottom: 20px;
}

.search-page .search-result-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding: 5px 5px 11px 5px;
  color: #225e8e;
  border-bottom: 2px solid #f5b0b0;
}

.search-page .search-result-title:hover {
  cursor: pointer;
}

.search-page .search-thumbnail {
  max-width: 300px;
  margin: 5px auto;
  border-radius: 10px;
  transition: .3s;
}

.search-page .search-thumbnail img {
  transition: .3s;
  border-radius: 15px;
}

.search-page .search-thumbnail img:hover {
  transform: rotateZ(2deg);
  border: 2px solid #a5a5ec;
}

.search-page .search-category {
  text-align: center;
  padding: 5px;
}

.search-page .search-category ul {
  list-style: none;
}

.search-page .search-category ul li {
  max-width: 150px;
  margin: 0 auto;
  background-color: #17a2b8;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
}

.search-page .search-category ul li a {
  color: white;
  font-weight: bolder;
  transition: .3s;
}

.search-page .search-category ul li a:hover {
  text-decoration: none;
  color: greenyellow;
}
