@import './partials/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    min-height: 100vh;

    @include ipadPro {
        background: url('../img/dom-tymczasowy-desktop.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed
    }
}

.menu-top {
    position: fixed;
    top: 5px;
    left: 5px;
}

@import './partials/main-page';
@import './partials/category';
@import './partials/single';
@import './partials/404';
@import './partials/about';
@import './partials/customPage';
@import './partials/plugins';
@import './partials/petsitter';
@import './partials/searchform';
@import './partials/search';