@import url("https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  min-height: 100vh;
}

@media (min-width: 1023px) {
  body {
    background: url("../img/dom-tymczasowy-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.menu-top {
  position: fixed;
  top: 5px;
  left: 5px;
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

div#menu-sign {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10;
}

@media (min-width: 1023px) {
  div#menu-sign {
    position: unset;
    max-width: 90vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.82);
  }
}

@media (min-width: 1023px) {
  div#menu-sign #menu-mobile-btn {
    display: none;
  }
}

div#menu-sign .fa-sort-down {
  transform: rotateZ(-90deg);
  line-height: 25px;
}

div#menu-sign .fa-sort-down.active {
  transform: rotateZ(90deg);
}

div#menu-sign div.menu-header-menu-container {
  padding: 8px;
  background: rgba(245, 245, 245, 0.89);
  font-weight: bolder;
  border-radius: 6px;
  text-transform: uppercase;
  position: absolute;
  top: 45px;
  left: -300px;
  border: 2px solid gray;
  min-width: 225px;
  transition: 1s;
}

@media (min-width: 1023px) {
  div#menu-sign div.menu-header-menu-container {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    background: transparent;
    border: none;
  }
}

div#menu-sign div.menu-header-menu-container ul {
  list-style: none;
  margin-bottom: 0px;
}

@media (min-width: 1023px) {
  div#menu-sign div.menu-header-menu-container ul {
    display: flex;
    justify-content: center;
  }
}

div#menu-sign div.menu-header-menu-container ul li:nth-child(5) {
  background-color: #007bff;
  animation: petsitterBtn 3.5s .5s linear infinite both;
  border-radius: 5px;
}

div#menu-sign div.menu-header-menu-container ul li:nth-child(5) a {
  color: white;
}

div#menu-sign div.menu-header-menu-container ul li:nth-child(5) a:hover {
  color: #f9d055;
}

@media (min-width: 1023px) {
  div#menu-sign div.menu-header-menu-container ul li {
    margin-right: 10px;
  }
}

div#menu-sign div.menu-header-menu-container ul a {
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  transition: .3s;
}

div#menu-sign div.menu-header-menu-container ul a:hover {
  text-decoration: none;
  background: #007bff;
  color: white;
}

@media (min-width: 1023px) {
  div#menu-sign {
    display: none;
  }
}

div#menu-desktop {
  display: none;
}

@media (min-width: 1023px) {
  div#menu-desktop {
    display: block;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10;
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  div#menu-desktop {
    position: unset;
    max-width: 90vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.82);
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  div#menu-desktop #menu-mobile-btn {
    display: none;
  }
}

@media (min-width: 1023px) {
  div#menu-desktop .fa-sort-down {
    transform: rotateZ(-90deg);
    line-height: 25px;
  }
  div#menu-desktop .fa-sort-down.active {
    transform: rotateZ(90deg);
  }
  div#menu-desktop div.menu-header-menu-container {
    padding: 8px;
    background: rgba(245, 245, 245, 0.89);
    font-weight: bolder;
    border-radius: 6px;
    text-transform: uppercase;
    position: absolute;
    top: 45px;
    left: -300px;
    border: 2px solid gray;
    min-width: 225px;
    transition: 1s;
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  div#menu-desktop div.menu-header-menu-container {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    background: transparent;
    border: none;
  }
}

@media (min-width: 1023px) {
  div#menu-desktop div.menu-header-menu-container ul {
    list-style: none;
    margin-bottom: 0px;
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  div#menu-desktop div.menu-header-menu-container ul {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1023px) {
  div#menu-desktop div.menu-header-menu-container ul li:nth-child(5) {
    background-color: #007bff;
    animation: petsitterBtn 3.5s .5s linear infinite both;
    border-radius: 5px;
  }
  div#menu-desktop div.menu-header-menu-container ul li:nth-child(5) a {
    color: white;
  }
  div#menu-desktop div.menu-header-menu-container ul li:nth-child(5) a:hover {
    color: #f9d055;
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  div#menu-desktop div.menu-header-menu-container ul li {
    margin-right: 10px;
  }
}

@media (min-width: 1023px) {
  div#menu-desktop div.menu-header-menu-container ul a {
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    transition: .3s;
  }
  div#menu-desktop div.menu-header-menu-container ul a:hover {
    text-decoration: none;
    background: #007bff;
    color: white;
  }
}

header {
  width: 260px;
  margin: 0px auto;
  padding: 50px 0 10px 0;
  font-family: 'Kulim Park', sans-serif;
  animation: headerAppear 1s 0.6s cubic-bezier(0, 0.72, 0.52, 0.8) both;
}

@media (min-width: 1023px) {
  header {
    background: rgba(255, 255, 255, 0.82);
    border-radius: 2px;
    padding-top: 5px;
  }
}

header h1 {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  vertical-align: top;
  margin-left: -30px;
}

header .logo-header {
  width: 100px;
}

.wrap-main {
  animation: mainpage .5s ease-out;
  animation-iteration-count: 1;
}

.wrap-main main {
  font-family: 'Kulim Park', sans-serif;
  overflow: hidden;
}

@media (min-width: 1023px) {
  .wrap-main main {
    background: rgba(255, 255, 255, 0.82);
    width: 90vw;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 0px 30px #e4a6a6;
    animation: mainAppear .5s .1s linear both;
  }
}

@media (min-width: 1023px) {
  .wrap-main main .headings {
    background: transparent;
    width: 80vw;
    margin: 0 auto;
  }
}

.wrap-main main .title-main {
  font-family: 'Pacifico', cursive;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1023px) {
  .wrap-main main .title-main {
    padding-top: 20px;
  }
}

.wrap-main main .title-main-low {
  text-transform: none;
  font-size: 20px;
}

@media (min-width: 1023px) {
  .wrap-main main .title-main-low {
    padding-top: 5px;
  }
}

.wrap-main main .main-desc {
  max-width: 90vw;
  margin: 1px auto;
  padding: 15px 8px 8px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

@media (min-width: 1023px) {
  .wrap-main main .main-desc {
    width: 80vw;
    margin: 15px auto;
    font-size: 1.5rem;
  }
}

.main-img-wrap {
  text-align: center;
}

.main-img-wrap img {
  border: 1px solid #4e4e4e;
  padding: 5px;
  max-width: 90%;
}

.main-img-wrap img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.main-img-wrap .lili-img-desc {
  text-align: center;
  color: gray;
  font-size: .8rem;
}

@media (min-width: 1023px) {
  .main-img-wrap .lili-img-desc {
    color: #484343;
    font-size: 1rem;
  }
}

.visit {
  padding-bottom: 20px;
  text-align: center;
}

.visit .partners-heading {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.partners {
  margin: 5px auto;
  background: rgba(255, 193, 7, 0.43);
  font-family: 'Kulim Park', sans-serif;
  height: 200px;
  padding: 10px;
  border-radius: 2px;
}

@media (min-width: 1023px) {
  .partners {
    background: transparent;
  }
}

.partners h2 {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.partners .hand-shake {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
}

@keyframes mainpage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headerAppear {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes mainAppear {
  from {
    width: 0vw;
  }
  to {
    width: 90vw;
  }
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

@media (min-width: 1023px) {
  .wrap-category {
    width: 90vw;
    padding: 10px;
    margin: 0 auto;
    background: rgba(245, 245, 245, 0.909804);
    box-shadow: 0px 0px 30px #e4a6a6;
  }
}

.wrap-category h2.cat-name {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.wrap-category article {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.380392);
  padding: 5px;
  border-radius: 2px;
}

.wrap-category article img {
  border-radius: 25px;
  border: 2px solid #dadada;
  padding: 2px;
}

.wrap-category article p {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 1px;
  padding: 5px 15px;
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

.container-single {
  background-color: whitesmoke;
  text-align: center;
}

@media (min-width: 1023px) {
  .container-single {
    max-width: 90vw;
    margin: 0 auto;
    background: transparent;
    padding: 10px;
    box-shadow: 0px 0px 30px #e4a6a6;
    background-color: rgba(255, 255, 255, 0.82);
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  .container-single {
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 0px 30px #e4a6a6;
  }
}

.container-single article p {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 1px;
}

.container-single .cat-name {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.container-single #comment {
  max-width: 80vw;
}

.container-single .comment {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  background: #f4efe8;
}

.container-single .category-single ul {
  list-style: none;
}

.container-single .category-single ul li a {
  display: inline-block;
  width: 100px;
  line-height: 30px;
  height: 30px;
  background: #007bff;
  color: white;
  border-radius: 10px;
  margin-top: 5px;
}

.container-single .category-single ul li a:hover {
  text-decoration: none;
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

.wrap-404 {
  max-width: 90vw;
  margin: 0 auto;
  background: transparent;
  padding: 10px;
}

@media (min-width: 1023px) {
  .wrap-404 {
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 0px 30px #e4a6a6;
  }
}

@media (min-width: 1023px) {
  .wrap-404 {
    background: rgba(255, 255, 255, 0.82);
    border-top: 2px solid #b9b9b9;
    padding-top: 10px;
  }
}

.wrap-404 .heading-404 {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  text-transform: none;
}

@media (min-width: 1023px) {
  .wrap-404 .heading-404 {
    font-size: 35px;
  }
}

.wrap-404 .desc-404 {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

@media (min-width: 1023px) {
  .wrap-404 .desc-404 {
    font-size: 22px;
  }
}

.wrap-404 .img-404-cont {
  padding: 10px;
  text-align: center;
}

.wrap-404 .img-404-cont .img-404 {
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px;
}

@media (min-width: 530px) {
  .wrap-404 .img-404-cont .img-404 {
    max-width: 200px;
  }
}

@media (min-width: 1023px) {
  .wrap-404 .img-404-cont .img-404 {
    max-width: 300px;
  }
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

.wrap-about {
  max-width: 90vw;
  margin: 0 auto;
  background: transparent;
  padding: 10px;
}

@media (min-width: 1023px) {
  .wrap-about {
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 0px 30px #e4a6a6;
  }
}

.wrap-about .heading-about {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.wrap-about .telephone {
  text-align: center;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

.wrap-about .desc-about {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 1px;
  padding: 5px;
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

.custom-page {
  font-family: 'Kulim Park', sans-serif;
  padding: 20px;
}

.custom-page .our-offer {
  font-size: 30px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  border-color: #15b170;
}

.custom-page ul {
  list-style-image: url("../img/paw.png");
  max-width: 90%;
  margin: 0px auto;
  padding-top: 10px;
}

@media (min-width: 1023px) {
  .custom-page ul {
    max-width: 70%;
  }
}

.custom-page ul li {
  font-size: 18px;
  letter-spacing: 1px;
}

@media (min-width: 1023px) {
  .custom-page ul li {
    line-height: 170%;
  }
}

.custom-page .offer-summary {
  color: #166973;
  font-weight: bolder;
  font-size: 16px;
  border: 2px solid;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
}

@media (min-width: 1023px) {
  .custom-page .offer-summary {
    width: 40%;
    margin: 10px auto;
  }
}

.custom-page .phone-number {
  display: block;
  border-bottom: none;
}

.custom-page p {
  padding: 15px 8px 8px;
  text-align: center;
  letter-spacing: 1px;
  max-width: 90vw;
}

.custom-page .title-custom {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

#faceWid {
  margin: 5px auto;
  width: 310px;
  background-color: white;
  border-radius: 2px;
}

@media (min-width: 1023px) {
  #faceWid {
    position: fixed;
    top: 50%;
    right: -315px;
    transform: translateY(-50%);
    transition: 1s;
  }
}

#faceWid #faceTrigger {
  overflow: hidden;
}

#faceWid #faceTrigger,
#faceWid #faceTriggerCancel {
  display: none;
}

@media (min-width: 1023px) {
  #faceWid #faceTrigger,
  #faceWid #faceTriggerCancel {
    display: block;
    position: absolute;
    top: -50px;
    left: -65px;
    background: white;
    border-radius: 50%;
    border: 1px solid gray;
  }
}

#faceWid #faceTrigger img,
#faceWid #faceTriggerCancel img {
  width: 50px;
  height: 50px;
}

#faceWid #faceTriggerCancel {
  display: none;
}

#faceWid h4 {
  padding: 5px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

@keyframes petsitterBtn {
  0% {
    background-color: #3e95f2;
  }
  50% {
    background-color: #054d9a;
  }
  100% {
    background-color: #3e95f2;
  }
}

.petsitter-map {
  padding-bottom: 10px;
  border-bottom: 2px solid #15b170;
}

.petsitter-map .map-icon-wrapper {
  text-align: center;
  font-size: 40px;
  color: #5e5c5c;
}

.petsitter-map h3 {
  font-size: 20px;
  text-align: center;
  color: #5e5c5c;
}

.petsitter-map ul#cityList {
  list-style: none;
  color: #5e5c5c;
}

@media (min-width: 1023px) {
  .petsitter-map ul#cityList {
    width: 155px;
  }
}
